body{
    margin: 0;
    background-color: #0e0e0e;
}

.products{
    margin: 20px;
}

.products-h1{
    color: white;
    font-size: 40px;
    margin: 0;
    margin-left: 20px
}

.products-p{
    color: #c7c7c7;
    font-size: 23px;
    margin: 10px;
    margin: 0;
    width: 1000px;
    margin-top: 10px;
    margin-left: 20px
}

.products-cards{
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 40px;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.card{
    display: flex;
    border: 2px #000000 solid;
    border-radius: 15px;
    height: 450px;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    color: white;

    box-shadow: 0px 0px 15px #0000003b;
    transition: 0.3s ease;
}

.card:hover .card-image {
    transform: scale(1.1); /* картинка увеличивается на 20% */
}

.card:hover{
    box-shadow: 0px 0px 15px #0000006b;
}

.card-image{
    width: 100%;
    height: 40%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
    user-select: none;
}

.product-info{
    background-color: black;
    padding: 15px;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.info-h1{
    font-size: 30px;
    padding-left: 10px;
    margin: 0;
}

.info-p{
    font-size: 20px;
    margin-top: 0 auto;
    padding-left: 10px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 10px;
    padding-bottom: 10px;
}

.info-cost{
    font-size: 30px;
    margin: 0;
}

.card-buy{
    background-color: #ffffff;
    border: none;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.card-buy:hover {
    background-color: #c7c7c7;
}

